#jogo{
    width:603px;
    height:600px;
    border:solid 3px
}
 
.linha{
    height:200px;
    border-bottom:solid 1px;
}
 
.casa{
    width:200px;
    height:100%;
    border-right:solid 1px;
    float:left;
    text-align: center;
    line-height:200px;
 	font-family: Lucida Console, Monospace, sans-serif;
	font-size: 25px;
	font-variant: small-caps;

}

.casameio{
    width:200px;
    height:100%;
    border-right:solid 1px;
    float:left;
    background-image: url("1.jpg");
    background-size: cover;
}

